html, body {
	font-size: 16px;
	color: #dfdfdf;
	background-color: #063647; 
	font-family: "Roboto", sans-serif;
}

.intro {
	font-weight: normal; /* Reset font weight */
}

.intro::first-letter {
	font-weight: bold;
}

a {
	color: #00d1b2;
}

a:hover {
	color: #00d1b2;
}

section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar {
	height: 200px;
	border-radius: 50%;
}

.intro-description {
	padding-top: 1rem;
}


.social-container img {
	max-width: 100%;
	max-height: 175px;
	margin-bottom: 15px;
}

.project-image {
	padding-top: 20px;
}

.project-image-description {
	padding-bottom: 10px;
}
.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
	font-weight: bold;
}

.intro {
	text-align:justify;
	width: 80%;
	margin: 0 auto;

}

.void-background {
	background-color: transparent; 
}
.project-title {
	margin-bottom: 25px; /* Adjust the margin as needed */
	font-size: 20px;
	font-weight: bold;
	
  }
  .project-element {
	padding-bottom: 30px;
  }
  .project-description {
	line-height: 1.5;
	margin-bottom: 20px;
	margin-top: 50px;
  }
  .project-figure {
	margin-top: 10px; /* Adjust the margin as needed */
  }
  ol {
	list-style-type: decimal;
	margin-left: 20px;
  }
  
  li {
	margin-bottom: 10px;
  }
@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}
}
/* Adjustments for single column layout */
@media screen and (max-width: 1023px) {
	.columns .column {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.image-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
.image-grid img {
	margin-bottom: 10px;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Display 2 columns */
	gap: 10px; /* Add some space between images */
  }
  
  /* Media query for phone-sized screens */
  @media (max-width: 767px) {
	.image-grid {
	  grid-template-columns: 1fr; /* Display 1 column */
	}
}

ul {
	padding-top: 20px;
	padding-left: 20px;
    list-style-type: disc;
}

.project-result {
	padding-bottom: 30px;
}